#h-2 {
    font-family: Comic Sans MS;
}

#h-3 {
    display: table;
    margin: 0 auto;
    font-family: "Roboto Slab";
    font-weight: 400;
    font-size: 5em;
    background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 200px;
}

#h-5 {
    font-family: Curlz MT;
    font-size: 5em;
}

#h-6 {
    font-family: Comic Sans MS;
}
#h-7 {
    font-family: Curlz MT;
    font-size: 8em;
}